<!-- Services Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Details</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">When</h4>
                    <p class="text-muted">
                        September 19-22, 2025<br/>
                        Check-in 9/19 afternoon, check-out 9/22 morning.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Where</h4>
                    <p class="text-muted">
                        Estes Park, Colorado<br/>
                        Area map with activities and logistics <a href="https://www.google.com/maps/d/edit?mid=1H7kfs-kU6sQ-eBDMw4ftUVqJ8ms7fJI&usp=sharing">here</a>.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What</h4>
                    <p class="text-muted">
                        We've rented two cabins in Estes Park for us all to hang in. Lots of outdoor activities to take advantage of. Addresses and VRBO postings for the cabins are <a href="https://docs.google.com/document/d/1C8ObPEF_4iK_2hc4IcEXcn5NLzK1npDNdI76gfTrGNU/edit?usp=drive_link">listed here</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">Itinerary</h3>
            </div>
        </div>
        <div class="row text-center itinerary">
            <div class="col-md-5">
                <h4 class="service-heading">9/19</h4>
                <p class="text-muted">
                    <ul class="ity">
                        <li>4 PM: Check-in</li>
                        <li>6-7 PM: Family dinner and hangout.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="service-heading">9/20</h4>
                <p class="text-muted">
                    <ul class="ity">
                        <li>8-10 AM: Timed entry to RMNP</li>
                        <li>Afternoon: Hang out at the main cabin or activities in town</li>
                        <li>6-7 PM: Family dinner and hangout</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="service-heading">9/21</h4>
                <p class="text-muted">
                    <ul class="ity">
                        <li>8-10 AM: Timed entry to RMNP</li>
                        <li>Afternoon: Hang out at the main cabin or activities in town</li>
                        <li>6-7 PM: Family dinner and hangout</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="service-heading">9/22</h4>
                <p class="text-muted">
                    <ul class="ity">
                        <li>10 AM: Checkout</li>
                    </ul>
                </p>
            </div>
        </div>
            <div class="row text-center col-lg-12">
                <p class="text-muted">
                    Estes Park has a lake where we can rent canoes, an amusement park with go-karts and putt-putt, breweries, aerial trams, etc. I've marked some of them on <a href="https://www.google.com/maps/d/edit?mid=1H7kfs-kU6sQ-eBDMw4ftUVqJ8ms7fJI&usp=sharing">this map</a>. 
                    Request access if you don't have it. 
                    Feel free to add any activities that look fun to you! 
                    The main cabin also has a basketball court, frisbee golf, and a ping pong table (no promises if the requisite equipment will be available though). 
                    We'll also have plenty of board and card games to play if people just want to hang around the house.
                </p>
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Packing suggestions</h3>
            </div>
        </div>
        <div class="row text-center col-lg-12">
            <p class="text-muted">
                We will be doing a good amount of outdoorsy things, so bring things you'd like to hike in.
                It'll be casual activities overall, so just bring things you're comfy in.
                <br/>
                <b>It may be cold.</b>
                Estes Park gets into the 40s overnight in late September. 
                Highs in the 60s or low 70s. 
                Pack accordingly.
                <br/>
                There is a hot tub at the main cabin. 
                I don't know how well it works, but just letting y'all know in case you want to pack a swimsuit.
            </p>
        </div>
    </section>