<!-- Team Section -->
    <section id="fam" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet the Team</h2>
                    <br/>
                    <!-- <h3 class="section-subheading text-muted">We're like a family.</h3> -->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/fam/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
                <div class="col-lg-8 text-center">
                    <br/>
                    <p class="large text-muted">Alas, the lap cats can't come to Colorado with us. If you want to meet them, you'll have to visit us in ABQ!</p>
                </div>
            </div>
        </div>
    </section>