<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Timeline</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2013</h4>
                                    <h4 class="subheading">Homework Buddies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We met in first year of grad school at UT. As homework buddies we spent A LOT of time together.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h4 class="subheading">The Situationship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We finally realized we liked each other and started dating.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2014</h4>
                                    <h4 class="subheading">Officially a Couple</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We had "the talk" in June and made it official. Yearly Birthiversaries to celebrate.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2017</h4>
                                    <h4 class="subheading">Fully Committed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bryan visited me during my Sandia internship and we decided we'd stick together no matter what.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 11, 2020</h4>
                                    <h4 class="subheading">Tied the Knot</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We had a Zoom wedding during COVID lockdown. Yearly Christmaversaries to celebrate.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let's
                                    <br>Celebrate
                                    <br>5 Years!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2025</h4>
                                    <h4 class="subheading">Time to Party!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nearing 5 years in, we can't wait to finally celebrate our marriage with you!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>